*{
    margin : 0px;
    padding : 0px;
}
.header{
    min-height: 100vh;
    width : 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/pexels-jonathan-cooper-10308427.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}